/*Bouttons CV*/

.btn-cv {
    padding: 1.3em 3em;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff ;
    background-color: #270075;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 60px;
  }
  
  .btn-cv:hover {
    background-color: #4c00ff;
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btn-cv:active {
    transform: translateY(-1px);
  }

  .btn-form {
    padding: 1.3em 3em;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff ;
    background-color: #402379;
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 15px;
    
  }
  
  .btn-form:hover {
    background-color: #4c00ff;
    color: #fff;
    transform: translateY(-7px);
  }
  
  .btn-form:active {
    transform: translateY(-1px);
  }

/*Boutton En savoir plus Acceuil*/

.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 30px;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #29007b;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 14px;
  color: #fff;
  font-family: "eina2";
  letter-spacing: 0.1em;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 15px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #4c00ff;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
